:root {
  /* Cores dark mode */
  --color-background: #111927;

  /* Cores das redes sociais */
  --color-instagram: ;
  --color-whatsapp: ;
  --color-facebook: ;
  --color-youtube: ;
  --color-telegram: ;
  --color-discord: ;
  --color-twitch: ;
  --color-discord: ;
  --color-linkedin: ;
  --color-github: ;

  /* Tamanho */
  --user-image-size: 34%;
  --desktop-section-size: 30%;
  --mobile-section-size: 90%;
}
