* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

div {
  border: 2px solid black;
  min-height: 33.33333vh;
  display: block;
  margin-right: auto;
  margin-left: auto;

  width: 40%;
}

body {
  background-color: gray;
}

.animated-gradient {
  animation: animateBg 10s linear infinite;

  background: radial-gradient(
    circle at 50% 0%,
    rgba(5, 63, 130, 1) 0%,
    rgba(19, 20, 22, 1) 40%
  );

  background-size: 150%;

  background-repeat: no-repeat;
}
@keyframes animateBg {
  0% {
    background-position: center top;
    background-size: 150%;
  }

  50% {
    background-position: center top;
    background-size: 300%;
  }

  100% {
    background-position: center top;
    background-size: 150%;
  }
}
